.about {
  overflow: hidden;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 96px;
  height: 600px;
  justify-content: flex-start;
  max-width: 1168px;
  padding: 0 24px;
  width: 100%;
  will-change: transform;
  z-index: 1;
  margin: auto;

  .about-hero {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: auto;
    justify-content: flex-start;
    width: 100%;
    max-width: 566px;
    z-index: 10;

    .about-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .title-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h5 {
          max-width: 250px;
          color: #a2e435;
          border: 1px solid #faf9f7;
          padding: 5px 10px;
          border-radius: 28px;
        }

        h1 {
          font-size: 48px;
          color: #faf9f7;
          font-weight: 400;
        }

        p {
          font-size: 16px;
          color: #e65b5b;
          max-width: 512px;
          font-weight: 600;
        }
      }
    }

    button {
      width: 120px;
      padding: 15px 25px;
      font-size: 16px;
      color: #fff;
      border: none;
      border-radius: 28px;
      cursor: pointer;
      background-color: #000;
    }
  }

  .image {
    width: 100%;
    max-width: 1120px;
    margin: auto;

    img {
      width: 100%;
      height: 500px;
      position: absolute;
      top: 0;
      z-index: 0;
      filter: grayscale(0.3);
      right: 0;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 48px 16px 96px;
    width: 100vw;
    overflow: hidden;

    .about-hero {
      width: 100%;
      height: auto;

      .about-info {
        width: 100%;
        height: auto;

        .title-header {
          width: 100%;

          h5 {
            font-size: 16px;
            max-width: 292px;
            padding-bottom: 5px;
            height: 30px;
          }

          h1 {
            font-size: 36px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      button {
        width: 110px;
        padding: 10px 24px;
        font-size: 16px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 28px;
        cursor: pointer;
      }
    }

    .image {
      object-fit: cover;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
        position: relative;
        filter: grayscale(0.3);
      }
    }
  }
}
