.about {
  overflow: hidden;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 96px;
  height: 600px;
  justify-content: flex-start;
  max-width: 1168px;
  overflow: visible;
  padding: 0 24px;
  top: 0;
  width: 100%;
  will-change: transform;
  z-index: 1;
  margin: auto;
  .about-hero {
    align-items: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    height: auto;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
    width: 100%;
    max-width: 566px;
    z-index: 10;
    > .about-info {
      align-items: center;
      display: flex;
      flex: none;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
      height: min-content;
      justify-content: flex-start;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 100%;
      .title-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        h5 {
          width: 100%;
          max-width: 250px;
          color: #a2e435;
          border: 1px solid #faf9f7;
          padding: 5px 10px;
          border-radius: 28px;
        }
        h1 {
          width: 100%;
          font-size: 48px;
          color: #faf9f7;
          font-weight: 400;
        }
        p {
          font-size: 16px;
          color: #df3838;
          width: 100%;
          max-width: 512px;
          font-weight: 600;
        }
      }
    }
    > button {
      width: 120px;
      padding: 15px 25px;
      font-size: 16px;
      color: #fff;
      border: none;
      border-radius: 28px;
      cursor: pointer;
      align-self: flex-start;
      background-color: #000;
    }
  }
  > .image {
    width: 100%;
    max-width: 1120px;
    margin: auto;
    img {
      width: 100%;
    
      height: 500px;
      position: absolute;
      top: 0;
      z-index: 0;
      filter: grayscale(0.3);
      right: 0;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    height: auto;
    padding: 48px 16px 96px;
    width: 100vw;
    .about-hero {
      width: 100%;
      height: auto;
      > .about-info {
        width: 100%;
        height: auto;
        
        .title-header {
          width: 100%;
         
          h5 {
            font-size: 16px;
            width: 100%;
            max-width: 292px;
            padding-bottom: 5px;
            height: 30px;
          }
          h1 {
            width: 100%;
            font-size: 36px;
       
          }
          p {
            width: 100%;
            font-size: 16px;
         
          }
        }
      }
      button {
        width: 110px;
        padding: 10px 24px;
        font-size: 16px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 28px;
        cursor: pointer;
        align-self: flex-start;
      }
    }
    > .image {
      object-fit: cover;
      width: 98vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      img {
         width: 95vw;
       
        height: 30rem;
        object-fit: cover;
        position: relative;
        // overflow: hidden;
        left: -10px;
        // z-index: 1;
        filter: grayscale(0.3);

        // margin: auto;
      }
    }
  }
}
