.article-link {
  width: 100%;
  padding: 0 24px;
  margin: auto;

  .article-hero {
    width: 100%;
    padding: 90px 0 0;
    margin: auto;
  }

  .article-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 0 96px;
    text-align: center;
    border-bottom: 1px solid rgba(#ada89f, 0.3);

    .article-header {
      font-size: 72px;
      max-width: 100%;
      margin: auto;
      letter-spacing: 0.1em;
    }

    .article-slogan {
      font-size: 16px;
      color: #ada89f;
      line-height: 140%;
    }
  }

  .article-info {
    display: grid;
    gap: 96px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 96px 0 112px;
    margin: auto;

    .article-one,
    .article-two,
    .article-three {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: start;
      padding: 0 0 96px;
      border-bottom: 1px solid rgba(#ada89f, 0.3);

      .date {
        width: 100%;
        color: #817b6f;
      }

      .article-about {
        width: 100%;
        color: #817b6f;
      }

      .article-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: start;

        .article-content-heading {
          font-size: 20px;
          color: #faf9f7;
          line-height: 140%;
          letter-spacing: 0.01em;
          font-weight: 400;
        }

        .article-theme {
          color: #817b6f;
        }

        a {
          text-decoration: none;
          padding: 10px;
          width: 150px;
          border-radius: 28px;
          background-color: #faf9f7;
          color: #817b6f;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;

          &:hover {
            background-color: #ada89f;
            color: #faf9f7;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .article-hero {
    padding: 64px 0 0;
  }

  .article-title {
    gap: 16px;
    padding: 0 0 64px;

    .article-header {
      font-size: 48px;
    }

    .article-slogan {
      font-size: 14px;
    }
  }

  .article-info {
    gap: 72px;
  }
}

@media (max-width: 440px) {
  .article-hero {
    padding: 48px 0 0;
  }

  .article-title {
    gap: 12px;
    padding: 0 0 48px;

    .article-header {
      font-size: 36px;
    }

    .article-slogan {
      font-size: 12px;
    }
  }

  .article-info {
    gap: 48px;

    .article-one,
    .article-two,
    .article-three {
      gap: 24px;
      padding: 0 0 48px;
      flex-direction: column;

      .date,
      .article-about {
        width: 100%;
      }

      .article-content {
        width: 100%;
      }
    }
  }
}
