.fa-questions {
      align-items: start;
      display: flex;
      flex: none;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 96px;
      height: auto;
      justify-content: flex-start;
      overflow: hidden;
      padding: 112px 24px;
      position: relative;
      width: 1168px;
      margin: auto;
      .faq-heading {
        width: 448px;
        // margin: auto;
        height: 158px;
        font-weight: 400;
        h1 {
          font-size: 48px;
          font-weight: 400;
        }
      }
      .quest-ans {
        width: 576px;
        height: 462px;
        align-content: start;
        align-items: start;
        display: flex;
        flex: 1 0 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 24px;
        height: auto;
        justify-content: flex-start;
        overflow: hidden;
        padding: 0;
        position: relative;
        > hr {
          background-color: #ada89f;
          width: 100%;
          opacity: 0.2;
        }
        .question-answer {
          align-content: center;
          align-items: start;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          gap: 12px;
          height: min-content;
          justify-content: center;
          overflow: hidden;
          padding: 0;
          position: relative;
    
          .question-icon {
            display: flex;
            gap: 32px;
            align-items: center;
            width: 576px;
            height: 32px;
    
            .question {
              width: 512px;
              height: 31.5px;
              h3 {
                color: #ada89f;
                font-size: 24px;
                line-height: 130%;
                letter-spacing: 0.01em;
                font-weight: 400;
              }
            }
            .open-icon {
              position: relative;
              width: 28px;
              height: 28px;
              cursor: pointer;
            }
            .open-icon .horizontal,
            .open-icon .vertical {
              position: absolute;
              background-color: #ada89f;
            }
            .open-icon .horizontal {
              top: 50%;
              left: 0;
              width: 100%;
              height: 4px;
              transform: translateY(-50%);
            }
            .open-icon .vertical {
              top: 0;
              left: 50%;
              width: 4px;
              height: 100%;
              transform: translateX(-50%);
            }
            .open-icon .vertical.open {
              width: 0;
              opacity: 0;
              transition: all 0.5s ease;
            }
          }
          .answer {
            overflow: hidden;
            max-height: 0px;
            margin-bottom: 10px;
            transition: all 0.5s ease;
          }
          .answer.open {
            max-height: 25px;
          }
        }
      }
    }
    @media (max-width: 440px) {
      .fa-questions {
        width: 92.5vw;
        gap: 64px;
        padding: 48px 16px;
        flex-direction: column;
        .faq-heading {
          width: 96.5vw;
          // display: flex;
          height: 80px;
          gap: 6px;
          h1 {
            width: 32vw;
            font-size: 31px;
            font-weight: 400;
          }
        }
        .quest-ans {
          width: 98.5vw;
          gap: 20px;
    
          .question-answer {
            width: 99vw;
    
            .question-icon {
              width: 100vw;
              height: 28px;
              gap: 20px;
    
              .question {
                width: 77vw;
                height: 31.5px;
                h3 {
                  color: #ada89f;
                  font-size: 18px;
                  line-height: 130%;
                  letter-spacing: 0.01em;
                  font-weight: 400;
                }
              }
              .open-icon {
                position: relative;
                width: 22px;
                height: 22px;
                cursor: pointer;
              }
              .open-icon .horizontal,
              .open-icon .vertical {
                position: absolute;
                background-color: #ada89f;
              }
              .open-icon .horizontal {
                top: 50%;
                left: 0;
                width: 100%;
                height: 5px;
                transform: translateY(-50%);
              }
              .open-icon .vertical {
                top: 0;
                left: 50%;
                width: 4px;
                height: 100%;
                transform: translateX(-50%);
              }
              .open-icon .vertical.open {
                width: 0;
                opacity: 0;
                transition: all 0.5s ease;
              }
            }
            .answer {
              overflow: hidden;
              max-height: 0;
              transition:all  0.5s ease;
              width: 90vw;
            }
            .answer.open {
              max-height: 40px;
              height: 38px;
              transition: all 0.5s ease
            }
          }
        }
      }
    }
    